@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  white-space: pre-wrap;
}

.page {
  background: white;
}

.page-break {
  border-top: 2px dashed #bbb;
  margin: 1rem 0;
  break-after: page;
  page-break-after: always;
}
